html {
    height: 100%;
}

body {
    background: #020818;
    color: #D6D6D6;
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    margin: 0px;
}

h2 {
    color: #f4f9ff;
    margin-left: 10%;
    margin-top: 45px;
}

h3 {
    text-align: left;
}

strong {
    color: #f4f9ff;
}

header {
    display:flex;
    direction: row;
    position: fixed;
    justify-content: space-between;
    text-align: left;
    background: black;
    top: 0px;
    right: 0px;
    left: 0px;
    margin: 0px;
    padding: 10px;
    padding-left: 5%;
}

.index-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.indented {
    margin-left: 15vw;
    margin-right: 15vw;
}

.body-title {
    display: flex;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 900;
}

.body-navlinks {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    background-color: #050505;
    margin-top: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    bottom: 0px;
}

.navlink-text {
    margin-top: 10px;
    margin-right: 5%;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.header-title {
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 900;
    color: #ebecf8;
    text-decoration: none;
}

.header-navlinks {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 20vw;
    padding-top: 1vh;
    padding-right: 1vw;
}

#team-project-entries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: 3vw;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 10%;
    margin-right: 10%;
}

#solo-project-entries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: 3vw;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 10%;
    margin-right: 10%;
}

.entry {
    padding-left: 12px;
    padding-right: 18px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: #080530;
}

.entry:hover {
    background: gray;
    cursor: pointer;
}

.entry-image {
    border: 3px solid #ebecf8;
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: fill;
}

.entry-title {
    color: #ebecf8;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

a {
    color: white;
}

a:hover {
    background: gray;
}

.content-text {
    color: #ebecf8;
    font-size: 20px;
    width: min(800px, 70vw);
}

#notes-entries {
    margin-top: 10vh;
}

.notes-title {
    margin-top: 10vh;
    padding-left: 5vh;
}

.notes-text {
    padding-left: 10vh;
    width: 45vw;
    font-size: 20px;
}

#top-black {
    background: black;
    height: 15%;
}

#bottom-black {
    background: black;
    height: 20%;
}